@font-face{
    font-family: "Azonix";
    src: url(Azonix-1VB0.otf);
}

.arriba{
    font-family: "Azonix";
    background-color: rgb(236, 208, 165);
    text-align: center;
    border: 8px solid rgba(0, 0, 0, 0.356);
    padding: 5px;
}

body{
    background:url("image/fondo.jpg");
}

.abajo{
    font-family: "Azonix";
    background:url("image/fondo.jpg");
    padding-block: 53px;
}

h1{
    text-align: center;
    font-size: 75px;
    margin: auto;
}

h3{
    font-size: 28px;
}

h4{
    text-align: center;
    font-size: 40px;
}

h5{
    text-align: right;
    font-size: 15px;
    margin: auto;
    padding: 10px;
}

#inicio{
    text-align: left;
    padding: 8px;
    display: inline-block;
    margin-left: 455px;
}

#nombre{
    margin-left: 720px;
    margin-top: 70px;
}

#passw{
    margin-left: 720px;
    margin-top: 30px;
}

#sendButt{
    padding: 20px; 
    background-color: rgb(236, 208, 165);
    color: #000000; 
    font-family: 'Azonix';
    border-radius: 50px;
    font-size: 20px;
    margin-left: 700px;
    margin-top: 10px;
}

#sendButt:hover{
    background-color: rgb(241, 226, 204);
}