@font-face{
    font-family: "Azonix";
    src: url(Azonix-1VB0.otf);
}

body{
    background:url("image/fondo.jpg");
}

.arriba{
    font-family: "Azonix";
    background-color: rgb(236, 208, 165);
    text-align: center;
    border: 8px solid rgba(0, 0, 0, 0.356);
    padding: 5px;
}


.abajo{
    font-family: "Azonix";
    background:url("image/fondo.jpg");
    padding-block: 53px;
}

h1{
    text-align: center;
    font-size: 75px;
    margin: auto;
}

h3{
    font-size: 28px;
}

h4{
    text-align: center;
    font-size: 40px;
}

h5{
    text-align: right;
    font-size: 15px;
    margin: auto;
    padding: 10px;
}

#inicio{
    text-align: left;
    padding: 8px;
    display: inline-block;
    margin-left: 455px;
}
#cesta{
    display: inline-block;
    text-align: center;
    margin-left: 700px;
}


#galaxy22{
    display: inline-block;
    text-align: center;
}

#descripcion{
    display: inline-block;
    position: absolute;
    left: 40%;
    bottom: 19%;
}

#precio{
    bottom: 8%;
    text-align: center;
    position: absolute;
    left: 40%;
}

#addb{
    padding: 20px; 
    background-color: rgb(236, 208, 165);
    color: #000000; 
    font-family: 'Azonix';
    border-radius: 50px;
    font-size: 20px;
    margin-left: 400px;
    margin-top: 5px;
}

#addb:hover{
    background-color: rgb(241, 226, 204);
}
