@font-face{
    font-family: "Azonix";
    src: url(Azonix-1VB0.otf);
}

body{
    background:url("public/image/fondo.jpg");
}

.arriba{
    font-family: "Azonix";
    background-color: rgb(236, 208, 165);
    text-align: center;
    border: 8px solid rgba(0, 0, 0, 0.356);
    padding: 5px;
}

h1{
    text-align: center;
    font-size: 75px;
    margin: auto;
}

h2{
    text-align: center;
    font-size: 35px;
    margin: auto;
}

h3{
    text-align: center;
    font-size: 24px;
}

h5{
    text-align: center;
    margin-left: 30px;
}

h3{
    text-align: center;
}



.abajo{
    font-family: "Azonix";
    padding-block: 40px;
}

#logo{
    width: 250px;
    height: 250px;
    opacity: 70%;
}

#nick-box{
    text-align: center;
}

input{
    border-radius: 8px; 
    font-family: Azonix;
    text-align: center;
    padding: 7px;
}


#display{
    border-radius: 20px;
    border: 12px solid rgba(0, 0, 0, 0.356);
    background-color: rgb(245, 227, 200);
    color: rgb(0, 0, 0);
    height: 400px;
    margin-left: 22%;
    margin-right: 22%;
    text-align: center;
    font-family: Azonix;
    font-size: 15px;
    overflow: auto;
}

#msg_entry{
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.356);
    background-color: rgb(179, 174, 168);
    color: rgb(37, 35, 35);
    width: 50%;
    height: 30px;
    font-family: Azonix;
    font-size: 25px;
    margin-left: 24.5%;
    margin-top: 10px;
    
}

input{
    border-radius: 8px; 
    font-family: Azonix;
    text-align: center;
    padding: 7px;
}